<h1>Lista de usuários:</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Localização</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.location %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Perfil', user %></td>
        <td><%= link_to 'Editar', edit_user_path(user) %></td>
        <td><%= link_to 'Apagar', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>