<h1><%= t ".title", :full_name => @user.full_name %></h1>

<ul>
  <li><%= t ".location", :location => @user.location %></li>
  <li><%= t ".bio", :bio => @user.bio %></li>
  <li><%= t ".email", :email => @user.email %> </li>
</ul>

<%= link_to t(".edit") , edit_user_path(@user) %>